<div class="flex-container">
    <div style="padding: 1%;">
        <label class="back" (click)="onBackClick()">Back</label>
    </div>
</div>

<div class="flex-container">
    <div class="col-lg-1 labels">
        <label [ngClass]="{'text-danger' : !urlFC.value}">URL</label>
    </div>

    <div class="col-lg-2">
        <input #id type="text" class="form-control" style="margin-top: 1%;" [formControl]="urlFC" />
    </div>

    <div class="col-lg-1 button">
        <button type="button" class="btn btn-info btn-block btn-sm" style="height: 30px !important;"
            [disabled]="!urlFC.value" (click)="shorten()">Enter</button>
    </div>

    <div class="col-lg-1 labels">
        <label>{{providedUrl}}</label>
    </div>
</div>

<div class="flex-container">
    <div style="padding: 1%;">
        <label class="text-danger">{{err}}</label>
    </div>
</div>