<div class="flex-container">
    <div style="padding: 1%;">
        <h1>Enter Connect Data</h1>
    </div>
</div>

<div class="flex-container">
    <div class="col-lg-2 labels">
        <label [ngClass]="{'text-danger' : !idFC.value}">AWS Access Key</label>
    </div>

    <div class="col-lg-2">
        <input #id type="text" class="form-control" style="margin-top: 1%;" [formControl]="idFC" />
    </div>
</div>

<div class="flex-container">
    <div class="col-lg-2 labels">
        <label [ngClass]="{'text-danger' : !secretFC.value}">AWS Secret Access Key</label>
    </div>

    <div class="col-lg-2">
        <input #secret type="password" class="form-control" style="margin-top: 1%;" [formControl]="secretFC" />
    </div>

    <div class="col-lg-1 button">
        <button type="button" class="btn btn-info btn-block btn-sm" style="height: 30px !important;"
            [disabled]="!idFC.value || !secretFC.value" (click)="connect()">Enter</button>
    </div>
</div>

<div class="flex-container">
    <div style="padding: 1%;">
        <label class="text-danger">{{err}}</label>
    </div>
</div>