.flex-container {
  display: flex;
  flex-direction: row;

  .labels {
    padding-left: 2%;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
  }
  
  .button {
    padding-left: 3%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;

    .disabled {
        pointer-events: none;
    }
  }
}
